# Итог по массиву диалогов
Всего диалогов: {{ total_dialogs }}

## Темы
| Тема | Диалогов | Упоминаний | Доля диалогов, % |
|---|---:|---:|---:|
{% for t in themes -%}
| {{ t.theme }} | {{ t.dialog_count }} | {{ t.mention_count }} | {{ t.share_of_dialogs_pct }} |
{% endfor %}

## Топ-подтем
| Тема | Подтема | Диалогов | Упоминаний | Доля диалогов, % |
|---|---|---:|---:|---:|
{% for s in subthemes -%}
| {{ s.theme }} | {{ s.subtheme }} | {{ s.dialog_count }} | {{ s.mention_count }} | {{ s.share_of_dialogs_pct }} |
{% endfor %}
